
.coverbody {
  background-color: rgba(0, 0, 0, 0.753);
  width: 100%;
  display: flex;
  overflow: hidden;
  height: calc(105vh - 100px);
  position: relative;
  padding: 40px 0px 10px 0px;

}

.h1start {
  text-align: center;

}
.footertext{
  color: aliceblue;
  font-size: 1em;
}