
.coverbody {
  background-color: rgba(0, 0, 0, 0.753);
  width: 100%;
  display: flex;
  overflow: hidden;
  height: calc(100vh - 100px);
  position: relative;

}

.h1start {
  text-align: center;

}
.footertext{
  color: aliceblue;
  font-size: 1em;
}